    <div class="lunchbox">
        <%# make a link on lunch.name, that links to show method with specified id pulled from current object%>
        <p> <%= @lunch.name %> - $<%= @lunch.price %></p>
        <%= @lunch.description %>
        <p><%= link_to "Back", lunches_path %>
    </div>