
// CONTAINER FOR LUNCH LISTING ////////////////////////
// .lunchbox{
//     border: 3px solid black;
//     margin: 5px;
//     padding: 20px;
//     border-radius: 10px;
//     width:40%;
//     // grid-template-columns: 1fr 1fr;
//     display:inline-block;
   
// }

// ERROR ///////////////////////////////
.error{
    color: red;
}


.box div{
    overflow:hidden;
}

.address{
    display:flex;
    justify-content: center;
}

body{
    background-color:#F3F0E1;
    // font-family: 'Roboto Condensed', sans-serif;
}

