
// CONTAINER FOR LUNCH LISTING ////////////////////////
// .lunchbox{
//     border: 3px solid black;
//     margin: 5px;
//     padding: 20px;
//     border-radius: 10px;
//     width:40%;
//     // grid-template-columns: 1fr 1fr;
//     display:inline-block;
   
// }

// ERROR ///////////////////////////////
.error{
    color: red;
}


.box div{
    overflow:hidden;
}

.address{
    display:flex;
    justify-content: center;
}

body{
    background-color:#F3F0E1;
    // background-color:#F8E473;
    // background-color: #DCDCDC;
    // font-family: 'Roboto Condensed', sans-serif;
}

a{
    // color:orange !important;
}

 a:hover{
    color:orange !important;
}

.edit_delete{
    display:flex;
    justify-content: flex-end;
}

.edit_delete a{
    margin-right:5px;
}

.price{
    display:flex;
    justify-content: center;
}

.showlink{
    display:flex;
    justify-content: center;
}

.navtitles a{
    padding-left:0px !important;
}

.search{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formbox{
    margin-top:30px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    width:60%;
}

.login{
    display:flex;
    margin-top: 30px;
    
    // justify-content: flex-start;
}

.login a{
    padding-left:0px !important;
}