// /MAIN TITLE////////////////////////////////////////
.heroheader{
    display:flex;
    justify-content: center;
}

// MAIN IMAGE CONTAINER ///////////////////////////////
.hero{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}


// MAIN IMAGE  ///////////////////////////////////////
.hero img{
    width: 50%;
    border-radius: 10px;
}

// CONTAINER FOR LUNCH LISTING ////////////////////////
.lunchbox{
    border: 5px solid black;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    width:40%;
    // grid-template-columns: 1fr 1fr;
    display:inline-block;

}

// IMG STYLING FOR LUNCHBOX 
.lunchbox img{
    width:100%;
}

// ERROR ///////////////////////////////
.error{
    color: red;
}